/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Jun, 2014, 11:31:06 AM
    Author     : bhaskar
*/

	body {
                font-size:13px;color:#FFFFFF;
                background-color:#404040;
                algin:"center"
        }
                
	
        form {
            align: "center";
        }
        
